{% extends "app/layout.html" %}

{% block content %}

<form action="/novogastoinsert/{{ conta.id }}" method="post">
    {% csrf_token %}
    <div class="clearfix" ></div>
    {{ conta.nome }}
    <div class="clearfix" ></div>

    {% if gastos|length > 0 %}
    <span class="label label-default">Gastos cadastrados</span>
    <div class="clearfix" ></div>
    {% load gastos_extras %}
    {% mostra_gastos gastos %}

    <div class="clearfix" ></div>
    {% endif %}

    {{ form }}
    <input type="submit" value="Cadastrar" />
</form>

{% endblock %}